{% extends "base.html" %} 
{% comment %} 나는 base.html에 내용을 채울 거다 상속{% endcomment %}

{% block content %}
  <h1>
    {% comment %} polls는 어디서 왔나 urls.py에서 reserved 변수로 설정 했다. app_name {% endcomment %}
    {% comment %} polls:detai을 해놓은 이유는 그 네임을 사용하기위해서 path에서 name을 지정해 놓았기 때문 {% endcomment %}
    {% comment %} 내 생각엔 polls 앱 변수와 path의 url을 엮어서 사용 {% endcomment %}
    {% comment %} 현재 question_id=10으로 하드코딩함 {% endcomment %}
    <a href="{% url "polls:detail" question_id=10 %}">question 10</a>
  </h1>
  <h1>{{ greetings|lower }}</h1>
  <h2>Iam from
    {{ location.city }},
    {{ location.country }}</h2>
  <h2>I speacks
    {{ languages.0 }}
    and
    {{ languages.1 }}</h2>
  <ul>
    {% for lang in languages %}
      <li>{{ lang }}</li>
    {% endfor %}
    {% for lang in languages %}
      <li>
        {% if lang == "Korean" %}
          Wow You speack korean
        {% else %}
          You speack English
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <h2>{{ctx}}</h2>
  <ul>
    {% for k, v in location.items %}
      <li>{{ k|capfirst }}
        :
        {{ v }}</li>
    {% endfor %}
  </ul>
{% endblock content %}
